---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div class="card w-full">
  <figure class="w-full aspect-video bg-base-200 rounded-4xl">
    {
      project.data.icon && (
        <div class="flex flex-row items-center gap-3">
          <Image
            src={project.data.icon}
            alt={project.data.iconTitle || project.data.title}
            width={61}
            height={61}
            class="w-18 rounded-lg"
          />
          <p class="font-extrabold text-lg">{project.data.iconTitle}</p>
        </div>
      )
    }
  </figure>
  <div class="card-body">
     <a href={`/${project.id}`}> 
      <h2 class="card-title link link-hover">
        {project.data.title}
        <!-- <div class="badge badge-secondary">NEW</div> -->
      </h2>
    </a>
    <p>{project.data.excerpt}</p>
    <div class="card-actions items-center mt-2">
      {project.data.tags.map((tag, index) => (
        <>
          <div class="text-xs opacity-70 uppercase">{tag}</div>
          {index < project.data.tags.length - 1 && <div class="bg-base-content/70 w-1 h-1 rounded-full"/>}
        </>
      ))}
      
    </div>
  </div>
</div>
